extends layout

block content
  h1 ChaTeala

  p(id="count")  

    
   form(id='set-nickname',action='#')
    label NickName
    input(id="nick")
    input(type='submit',value='Guardar')   


  form(id='form1',action='#')
   label Mensaje
   input(id='message')
   input(type='submit') 


   div(id="conversacion")

   div(id="nicksUl")
 
      



  